.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.keyword-item {
  // cursor: pointer;
  margin-top: 10px;
  border: 1px solid var(--main-color);
  border-radius: 50px;
  padding: 4px 16px;
  background-color: transparent;
  color: var(--main-color);

}

.keyword-box {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 10px 0 20px 0;
}
.text-content {
  font-size: 18px;
}
.strong {
  font-weight: 900;
  font-size: 18px;
  // font-style:unset;
  // color: var(--main-color);

}

.about-content-box {
  height: calc(100vh - 160px);

  display: flex;
  // flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  .about-box {
    // width: calc(100% / 2);
    padding: 0 40px;
  }
}
.img-layout {
  display: flex;
  justify-content: center;
}
.img-box {
  width: 400px;
  height: 400px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.6), -4px -4px 5px 0px rgba(255, 255, 255, 0.6), 7px 7px 20px 0px rgba(0, 0, 0, 0.1333333333), 4px 4px 5px 0px rgba(0, 0, 0, 0.0666666667);
    // box-shadow: 4px 4px 60px rgba(90, 90, 90, 0.3);
  }
}
