@font-face {
  font-family: 'Freesentation-9Black';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/*       color      */
:root {
  --main-background: #F8F8F8;
  --main-black-color: #121212;
  --main-color: #F08200;
  // --main-color: #0c88ff;
}

* {
  // font-family: 'Lato', sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  // font-family: 'Pretendard-Regular';
  font-size: 14px;
}
/*       flex      */
.d-flex {
  display: flex;
}

.flex-c {
  display: flex;
  flex-direction: column;
}
.flex-r {
  display: flex;
  flex-direction: revert !important;
}
.jcsb {
  justify-content: space-between !important;
}
.jcs {
  justify-content: start;
}
.jce {
  justify-content: flex-end;
}
.jcc {
  justify-content: center;
}
.jcsa {
  justify-content: space-around;
}
.jcse {
  justify-content: space-evenly;
}
.aic {
  align-items: center;
}
.aife {
  align-items: flex-end;
}
.aifs {
  align-items: flex-start !important;
}
.aib {
  align-items: baseline;
}
.ais {
  align-items: stretch;
}
.flex1 {
  flex: 1;
}

/*       크기     */
.w100 {
  width: 100% !important;
}
.h100 {
  height: 100% !important;
}

/*       margin, padding, gap     */
$x: 1;
@while $x < 99 {
  .pl#{$x} {
    padding-left: 1px * $x !important;
  }
  .pr#{$x} {
    padding-right: 1px * $x !important;
  }
  .pt#{$x} {
    padding-top: 1px * $x !important;
  }
  .pb#{$x} {
    padding-bottom: 1px * $x !important;
  }
  .pa#{$x} {
    padding: 1px * $x !important;
  }
  .ml#{$x} {
    margin-left: 1px * $x !important;
  }
  .mr#{$x} {
    margin-right: 1px * $x !important;
  }
  .mt#{$x} {
    margin-top: 1px * $x !important;
  }
  .mb#{$x} {
    margin-bottom: 1px * $x !important;
  }
  .ma#{$x} {
    margin: 1px * $x !important;
  }
  .g#{$x} {
    gap: 1px * $x !important;
  }
  $x: $x + 1;
}

/*        background       */

.container {
  width: 100%;
  background-color: var(--main-background);
  padding: 20px;
}
.page-container {
  width: 100%;
  background-color: var(--main-background);
}
.page-box {
  padding: 20px 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  padding: 0;
}

p {
  margin: 0;
}

.title, .content-title {
  height: 50px;
  font-size: 42px;
  font-weight: 900;
  line-height: 1;
  font-family: 'Freesentation-9Black';
}
.content-title {
  font-size: 28px;
  margin-top: 40px;
}
.sub-title {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1px;
  font-family: 'Freesentation-9Black';
}
.sub-title:nth-child(1) {
  color: #B6B6B6;
}

.tab-list-box {
  margin-top: 50px;

}
.tab-btn {
  margin: 10px 10px 10px 0;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  font-weight: 500;
  background: #F8F8F8;
  color: #999999;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.top-box {
  background-color: #ffffff;
  padding: 20px 40px;
  margin-top: 60px;
}

.active {
  background: linear-gradient(155.91deg, #F27604 -2.71%, #F08200 54.7%, #FFB053 121.15%);
  color: #ffffff;
  font-weight: 900;
}


.skills-box {
  display: flex;
  flex-wrap: wrap;
  // gap: 10px;
  // width: calc(100% / 3);
}
.skills-item {
  width: calc(100% / 3 - 20px);
  margin: 10px;
  height: auto;
  // cursor: pointer;
  padding: 50px 40px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 4px 4px 60px rgba(90, 90, 90, 0.08);
  transition: all 0.3s ease;
  font-size: 20px;
  font-weight: 900;
}

.more {
  margin: 10px 0;
  font-size: 16px;
  color: #999999;
  cursor: pointer;
  display: inline-block;
}
.more-content {
  font-size: 16px;
  font-weight: 400;
}
.detail-btn {
  cursor: pointer;
  height: 40px;
  margin-top: 10px;
  border: 1px solid var(--main-color);
  border-radius: 50px;
  padding: 4px 16px;
  background-color: transparent;
  color: var(--main-color);
}
.detail-btn:hover {
  background-color: var(--main-color);
  color: #ffffff;
}
