@media (max-width: 1400px) {
  .img-layout {
    width: 60%;
    .img-box {
      width: 300px;
      height: 300px;
    }
  }
  .text-content {
    font-size: 16px;
  }

  .keyword-box {
    gap: 6px;
    .keyword-item {
      margin-top: 0;
    }
  }

}

@media (max-width: 1180px) {
  .skills-item{
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 768px) {
  .about-content-box {
    flex-wrap: wrap;
    .img-layout {
      width: 100%;
      .img-box {
        width: 300px;
        height: 300px;
      }
    }
    .about-box {
      margin-top: 100px;
    }
  }

  .top-box {
    padding: 20px;
    margin-top: 40px;
  }
  .tab-list-box {
    margin-top: 24px;
  }
  .tab-btn {
    margin: 4px 4px 4px 0;
  }
  .skills-item{
    width: 100%;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 4px;
  }
  .title {
    font-size: 28px;
  }
  .sub-title {
    font-size: 20px;
  }
  .mene-title {
    font-size: 20px;
  }
  .menu-title-ko {
    font-size: 13px;
  }
  .menu-item {
    padding: 16px 24px;
    margin: 8px;
  }

  /* footer */
  .main-footer {
    .footer-icon {
      width: 60px;
      height: 60px;
    }
    .footer-title {
      font-size: 16px;
    }
    .footer-message {
      font-size: 11px;
    }
    .contact-btn {
      width: 80px;
      height: auto;
      padding: 8px;
      font-size: 12px;
    }
  }
  .about-content-box {
    .about-box {
      padding: 0 20px;
      margin-top: 50px
    }
    .img-layout {
      .img-box {
        width: 240px;
        height: 240px;
      }
    }
  }

}
